<%include partials/header%>

<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <!-- &nbsp is HTML syntax for a space it stands for non break space -->
        <tr><th>Name</th><th>Address</th><th>&nbsp;</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/entities/edit?name=<%= rs[i].name %>"> <%= rs[i].name %></a></td>
            <% var address = rs[i].street + " " + rs[i].city + ", " + rs[i].zip; %>
            <td><%= address %></td>
            <td><a href="/entities/delete?name=<%= rs[i].name %>">Delete</a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No companies are entered into the company database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/entities/create">Create New Company</a>
</div>

<% include partials/footer%>