<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/accounts/?email=<%= rs[i].email %>"> <%= rs[i].lname %>, <%= rs[i].fname %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No accounts are entered into the Account database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/users/create">Create New Account</a>
</div>