<!DOCTYPE html>
<% include partials/header %>
<html>
  <head>
    <!--<title><%= 'CS355' %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<style>-->
      <!--body {-->
        <!--background-color: #BFEDFF;-->
        <!--margin: 0;-->
      <!--}-->
      <!--#Rainbow {-->
        <!--height: 100%;-->
        <!--opacity: 0.7;-->
        <!--overflow: hidden;-->
        <!--position: absolute;-->
        <!--top: 0;-->
        <!--white-space: nowrap;-->
        <!--width: 100%;-->
        <!--z-index: -1;-->
      <!--}-->
      <!--#Rainbow .rainbow-color {-->
        <!--height: 100%;-->
        <!--margin-right: 20px;-->
        <!--width: 14%;-->
        <!--display: inline-block;-->
      <!--}-->
      <!--#Rainbow #red {-->
        <!--background-color: #D10000;-->
        <!--box-shadow: 25px 0 50px 25px #D10000;-->
      <!--}-->
      <!--#Rainbow #orange {-->
        <!--background-color: #FF6622;-->
        <!--box-shadow: -25px 0 50px 25px #FF6622, 25px 0 50px 25px #FF6622;-->
      <!--}-->
      <!--#Rainbow #yellow {-->
        <!--background-color: #FFDA21;-->
        <!--box-shadow: -25px 0 50px 25px #FFDA21, 25px 0 50px 25px #FFDA21;-->
      <!--}-->
      <!--#Rainbow #green {-->
        <!--background-color: #33DD00;-->
        <!--box-shadow: -25px 0 50px 25px #33DD00, 25px 0 50px 25px #33DD00;-->
      <!--}-->
      <!--#Rainbow #blue {-->
        <!--background-color: #1133CC;-->
        <!--box-shadow: -25px 0 50px 25px #1133CC, 25px 0 50px 25px #1133CC;-->
      <!--}-->
      <!--#Rainbow #indigo {-->
        <!--background-color: #220066;-->
        <!--box-shadow: -25px 0 50px 25px #220066, 25px 0 50px 25px #220066;-->
      <!--}-->
      <!--#Rainbow #violet {-->
        <!--background-color: #330044;-->
        <!--box-shadow: -25px 0 50px 25px #330044;-->
      <!--}-->
    <!--</style>-->
  <!--</head>-->
  <!--<body>-->
  <!--<div id="Rainbow">-->
    <!--<div id="red" class="rainbow-color"></div>-->
    <!--<div id="orange" class="rainbow-color"></div>-->
    <!--<div id="yellow" class="rainbow-color"></div>-->
    <!--<div id="green" class="rainbow-color"></div>-->
    <!--<div id="blue" class="rainbow-color"></div>-->
    <!--<div id="indigo" class="rainbow-color"></div>-->
    <!--<div id="violet" class="rainbow-color"></div>-->
  <!--</div>-->
    <!--<h1><%= 'CS355' %></h1>-->
    <!--<p>Welcome to <%= subtitle %>-->
    <br />
    <h2> Lab 8 Links </h2>
    <a href="http://www.cs.sonoma.edu.edu/~haderman/">CS355 Lab 8</a>
      <br />
      <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
      <br />
      <a href="helloworld.html">Relative Link Example</a>
      <br />
      <a href="/templatelink">Template Link Example</a>
      <br />
      <a href="/accounts/?email=asdf@hotmail.com">Account By Email</a>
      <br />
      <a href="/accounts/all">All Accounts</a>
      <br />



      <h3><%= 'Additional Links' %></h3>
      <a href="/schools/allSchools">All Schools</a>
      <br />
      <a href="/companies/GetCompanyGpa">Company GPA View</a>
      <br />
      <a href="/accounts/GetUserJob">User Job View</a>
      <br />

      <h2>Lab 09 Links</h2>
      <a href="users/create"><em>Create New User</em></a>
      <br />
      <a href="universities/create"><em>Create New School</em></a>
      <br />
      <a href="entities/create"><em>Create New Company</em></a>
      <br />

      <h2>Lab 10 Links</h2>
      <a href="companies/all"><em>View All Companies (Includes Edit/Delete)</em></a>
    </p>
  </body>
</html>
<% include partials/footer %>
